
body {
  display: block;
  backgraund-color: #6c63ff;
  
}
h1 {
  font-size: 96px;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.photo {
  max-width: 30%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
